*{
    margin: 0px;
    padding: 0px;
}


body{
    background-color: #17BF60;
    font-family: Arial, Helvetica, sans-serif;


}

header{
    background-color: white;
    text-align: center;
    font-size: 30px;
    padding-top: 30px;
    min-height: 150px;
}

header > p{
    font-size: 30px;
    margin: 20px;
}

nav {
    background-color: #4F5873;
    text-align: center;
    padding: 20px;
    font-weight: bold;
    

}
nav > a{
    color: white;
    font-size: 17px;
    padding: 10px;
    text-decoration: none;
    
}
nav >a:hover{
    background-color: #17BF60;

}

main{
    background-color: white;
    padding: 20px;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 20px;
    text-align: center;
    margin-top: 5px;
    min-width: 300px;
    max-width: 1000px;   
}

main p{
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    line-height: 2em;
    font-size: 1em;

}

main strong{
    color: black;
    font-weight: bold;

}

article > h2{
    background-color: #a6f5c0;
    margin-top: 20px;

}

article > h3{
    margin-top: 30px;
    text-align: left;
    
}

article > h4{
    margin-top: 30px;
    text-align: left;
    
}



article>a{
    background-color: #4F5873;

    text-decoration: none; 
    color: rgb(255, 255, 255);
    padding: 15px;
    border-radius: 10px;
   

    
}

article>a:hover{
    background-color: #17BF60;

}


article>p{
    text-align: justify;
    
}

article > ol{
    list-style-position: inside;
    columns: 1;
    text-align: justify;
    margin-top: 20px;
    
}

article > ol >li{
    padding: 5px;
}



ol > p{
    text-align: left;
    text-indent: 0px;
    margin-left: 30px;
}

ul{
    text-align: left;
    text-indent: 0px;
    margin-left: 30px;

}

table{
    width: 100%;
}

table, td, th{
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    padding: 10px;
}


tr:nth-child(even) {
    background-color: #e7e4e4;
}

thead > tr{
    position: sticky;
    top: 0;
    background-color: #383838;
    color: white;
    padding: 10px;
}

caption{
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px;
    background-color: lightgray;
}











