@charset "UTF-8";

/*                      Seletores  personalizados
                            #   = id
                            .   = class
                            :   = pseudo-class
                            ::  = pseudo-element
                            >   = clildren

*/



body{
    font-family: Arial, Helvetica, sans-serif;

}

a{
    color:red;
    text-decoration: none; /*retirar o sublinhado*/
    font-weight: bold;
}

a:visited{ 
    color:darkred;
}

a:hover{ /*quando passar o mouse ele vai mudar*/
    text-decoration: underline;
    color:black;
}

a:active{ /*quando clicar ele vai mudar*/
    color: yellow;
}

a::after{ /*depois de tudo inserir alguma coisa*/

    content:'ok';
    text-decoration: none;
    font-weight: normal;
    color: darkgray;
}

